/* Made by Vitalynx */

body {
	margin: 0;
	background-color: #b6bfc2;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

.topbar{
	position: absolute;
	top: 0;
	width: 100%;
	height: 50px;
	background-color: #718a92;
	border-bottom: 1px rgba(2, 2, 2, 0.28) solid;
}

.configwrap{
	border-radius: 5px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	width: 400px;
	height: 470px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0px;
	background-color: #2e2e32;
	/* bottom: 0; */
	margin: auto;
	border-top: 0;
	border: solid 1px rgba(128, 128, 128, 0.24);
	border-top: none;
	padding: 10px;
}

h1 {
	margin: 0;
}

.configwrap .title{
	margin: auto;
	color: #ffffff;
	text-align: center;
	height: 49px;
	padding: 0;
}

.title{
	width: 226px;
}

input{
	border-radius: 3px;
	border: solid 1px #6c5f5f;
}

.configcontent{
	padding-top: 0%;
	padding-bottom: 10%;
	border-top: solid 1px rgba(0, 0, 0, 0.16);
}

.configcontent input[type=submit]{
	display: block;
	margin: auto;
	text-shadow: 0.5px 0.5px black;
	/* margin-top: 50px; */
	width: 200px;
	height: 30px;
	left: 0;
	right: 0;
	position: absolute;
	background-color: #6c5f5f;
	color: white;
	border-radius: 5px;
	bottom: 7%;
	border: solid 1px #786e6e;
}

.configcontent input[type=text]{
	position: relative;
	margin: 0 auto;
	text-align: center;
	display: block;
	margin-bottom: 20px;
	width: 250px;
	height: 24px;
}

input::placeholder{
	color:rgb(171, 177, 179);
}

form{
	margin: 0 auto;
}

.configcontent p{
	position: relative;
	text-align: center;
	/* margin: 0; */
	color: #c5c5c5;
}
